<div class="wrapper">

    <div class="sidebar">

        <div class="navigation">
            <a class="active" id="about-btn">William Bryan</a>
            <a href="/" class="sideBtn">About Me</a>
            <a href="/projects" class="sideBtn">Projects</a>
            <a href="assets/images/William_Bryan_Resume.pdf" id="resume" class="sideBtn" download="William Bryan's Resume">Resume</a>
        </div>
        <br>
        <div class="social">
            <a class="fab fa-linkedin" data-site="linkedIn" href="https://www.linkedin.com/in/william-bryan-72730019a/"
                target="_blank"></a>
            <a class="fab fa-github-square" data-site="github" href="https://github.com/WeiLiBryan" target="_blank"></a>
        </div>

    </div>



    <div class="content">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12" style="font-weight: bold; font-size: 5vh;">
                    ABOUT ME
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/images/image.jpg" class="rounded profPic">
                </div>


                <div class="col-sm-6 bio">
                    <p>
                        <br><br>
                        Aspring full-stack web dev
                        <br> Currently residing in Reno, NV
                        <br> Pretty good at Javascript
                        <br><br><br> <a href="mailto:wwbryan00@gmail.com">Email Me</a>
                    </p>
                </div>
            </div>


        </div>
    </div>

</div>