<div class="wrapper">

    <div class="sidebar">

        <div class="navigation">
            <a class="active" id="about-btn">William Bryan</a>
            <a href="/" class="sideBtn">About Me</a>
            <a href="/projects" class="sideBtn">Projects</a>
            <a href="assets/images/William_Bryan_Resume.pdf" id="resume" class="sideBtn"
                download="William Bryan's Resume">Resume</a>
        </div>
        <br>
        <div class="social">
            <a class="fab fa-linkedin" data-site="linkedIn" href="https://www.linkedin.com/in/william-bryan-72730019a/"
                target="_blank"></a>
            <a class="fab fa-github-square" data-site="github" href="https://github.com/WeiLiBryan" target="_blank"></a>
            <a class="fas fa-envelope-square" href="mailto:wwbryan00@gmail.com"></a>
        </div>

    </div>


    <div class="content">
        <div class="container">
            {{#each proj}}
            <div class="card" style="width: 100%; background-color: #a6b1e1; color: white; text-align:center">
                <div class="card-body">
                    <h3 class="card-title">{{projName}}</h3>
                    <img src="{{image}}"><br><br>
                    <a href="{{deployLink}}" class="btn btn-primary">Deployed Site</a>
                </div>
            </div>
            <br>
            {{/each}}
        </div>
    </div>

</div>